# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.gitattributes
.settings/

frontend-app/.DS_Store
frontend-app/node_modules
frontend-app/dist
frontend-app/npm-debug.log
backend-app/src/main/resources/static
backend-app/src/main/resources/application.properties
backend-app/build
backend-app/bin

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
