.gradle/
.idea/

build

.gitattributes
.settings/

frontend-app/.browserslistrc
frontend-app/.vscode/settings.json
frontend-app/node_modules
frontend-app/dist
frontend-app/npm-debug.log
backend-app/src/main/resources/static
backend-app/src/main/resources/application.properties
backend-app/build
backend-app/bin

